body {
  text-align: center;
  background-color: #161616;
  font-size: 16pt;
}

div.main-wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

div.header {
  background-color: #408e2f;
  border: 2px solid #408e2f;
  border-radius: 8px 16px;
  text-align: left;
  width: 100%;
}

div.content-wrapper {
  background-color: transparent;
  float: left;
  width: 100%;
}

div.footer {
  clear: left;
  width: 100%;
  background-color: #408e2f;
  border: 2px solid #408e2f;
  border-radius: 4px 8px;
}
